/* ASIDE */
aside {
    height: 100vh;
    min-width: 15rem;
    grid-template-rows: 1fr 1fr 3fr;
    grid-area: aside;
}

.profilePicture {
    position: absolute;
    width: 10%;
}

.profilePicture > :first-child {
    border-radius: 50%;
}

img {
    display: grid;
    width: 100%;
    flex-direction: row;
}

.todaysTime {
    flex-direction: column;
    
}

/* Aside - Grid for todo area */
.todo-grid {
    grid-template-rows: 2rem auto 4rem;
    background-color: #C4C4C4;
    grid-template-areas: 
    "main-title"
    "main-content"
    "button-container";
}

.todo-main-title {
    background-color: #FFA023;
    color: white;
    grid-area: main-title;
}

.todo-main-content {
    padding: .5rem; 
    grid-area: main-content;
}

.button-container {
    padding: .5rem;
    grid-area: button-container;    
}

/* Aside - Pages for main content. Display value changes in javascript. */
.todo-page {
    display: unset;                                  /* <--- Display */
}

.new-todo-page {
    display: none;                                  /* <--- Display */
}

/* Aside - todoPage - layout */
.each-todo-container {
    grid-template-columns: 4rem auto;
    grid-template-rows: auto 2rem;
    grid-template-areas: 
    "time todo"
    ". delete";

    padding: .5rem;
    margin-bottom: .5rem;
    border-top: .3rem solid #FFA023;
    background-color: white;
}

.todo-time {
    grid-area: time;
}

.todo-information {
    grid-area: todo;
    margin-bottom: 1rem;
}

.todo-delete {
    align-items: flex-end;
    grid-area: delete;
}

    /* Button - add new todo */
.button-container .create-todo-button {
    color: #FFA023;
    font-size: 3rem;
    cursor: pointer;
}

/* Aside - newTodoPage - layout */
.new-todo input {
    width: 100%;
    margin-bottom: .5rem;
}

.new-todo textarea {
    width: 100%;
    height: 8rem;
    resize: none;
}
    /* Form text color */
.new-todo input::placeholder, 
.new-todo textarea::placeholder {
    color: black;
}
    /* Border color focus */
.new-todo input:focus,
.new-todo textarea:focus {
    outline-color: #FFA023;
}
    /* Whitespace between inputs */
.new-todo input[type],
.new-todo textarea[type] {
    padding-left: .3rem;
}

    /* Buttons - Add save todo to calendar, or cancel new todo */
.save-todo-button {
    background: #FFA023;
    color: white;
    border: none;
    width: 10rem;
    font-weight: bold;
    cursor: pointer;
}

.button-container .cancel-todo-button {
    font-size: 3rem;
    color: #333;
    cursor: pointer;
}

.delete-button {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 12rem;
    background-color: #333;
    border-radius: 1000px;
    border-style: none;
    outline: none;
    text-align: center;
    color: white;
    font-weight: bold;
}
