@media (max-width: 750px) {
    body {
        grid-template-rows: 1fr auto;
        grid-template-columns: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .hide-on-mobile {
        display: none;
    }

    .mobile-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        font-size: small;
    }

    #todays-time {
        font-size: large;
    }

    .column {
        flex-direction: column;
    }

    .todo-grid {
        height: 100vh;
    } 

    .profilePicture {
        width: 20%;
    }

}
