body {
    margin: 0;

    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 8rem auto;
    grid-template-areas: 
    "aside header"
    "aside main";
}

/* HEADER */
header {
    background-color: blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-area: header;  
}

/* ASIDE */
aside {
    background-color: green;
    height: 100vh;
    min-width: 15rem;
    grid-area: aside;
}

/* MAIN */
main {
    background-color: hotpink;
    grid-area: main;
}





/* REUSABLE CODE */

