* {
    box-sizing: border-box;
}

body {
    margin: 0;

    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 7rem auto;
    grid-template-areas:
    "aside header"
    "aside main";
}

/* HEADER */
header {
    grid-template-rows: repeat(3, 1fr);
    grid-area: header;
}

.year {
    background-color: #FAD6A6;
}

.month-grid {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

/* ASIDE */
aside {
    background-color: green;
    height: 100vh;
    min-width: 15rem;
    grid-template-rows: 1fr 1fr 3fr;
    grid-area: aside;
}

.profilePicture {
    position: absolute;
    width: 10%;
}

.profilePicture > :first-child {
    border-radius: 50%;
}

img {
    display: grid;
    width: 100%;
    flex-direction: row;
}

.todaysTime {
    flex-direction: column;
    
}


/* MAIN */
main {
    grid-template-columns: 2rem auto;
    grid-template-rows: 2rem auto;
    column-gap: .5rem;
    
    background-color: white;
    grid-area: main;
}

.name-of-days {
    grid-template-columns: repeat(7, 1fr);
    column-gap: .5rem;
    text-align: center;
    background-color: #F1F0F0;
}

.week-title {
    background-color: #F1F0F0;
}

.week {
    row-gap: 1rem;
    background-color: #F1F0F0;
}


.date-container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem;
}

.date {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
    
    /* Active day + to do*/
    border: .2rem solid #FFA023;
    border-top: 1rem solid #FFA023;
}





/* REUSABLE CODE */
.addToDo {
    justify-content: flex-end;
    padding: 0 1rem 1rem;
}
.addToDo > :first-child {
    background: orange;
    color: white;
    border-radius: 1000px;
    border: none;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

/* Flex / Grid */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

/* Text */
h1, h2, p {
    margin: 0;
    padding: 0;
}

.large-text {
    font-size: 2.5rem;
}

h1 {
    font-size: 2rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 1rem;
    margin-top: 0;
}

/* Colors */
.orange-bg {
    background-color: #FFA023;
}
