body {
    margin: 0;

    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 8rem auto;
    grid-template-areas: 
    "aside header"
    "aside main";
}

/* HEADER */
header {
    background-color: blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-area: header;  
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ASIDE */
aside {
    background-color: green;
    height: 100vh;
    min-width: 15rem;
    grid-area: aside;
}

/* MAIN */
main {
    background-color: hotpink;
    grid-template-columns: 2rem auto;
    grid-template-rows: 2rem auto;
    gap: .5rem;

    grid-area: main;
}

.name-of-days {
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.week-container {
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    text-align: center;
}

.date-container {
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
}

.square {
    background-color: indigo;
    height: 10rem;
    width: 100%;
}





/* REUSABLE CODE */

/* Flex / Grid */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

/* Text */
h1, h2, p {
    margin: 0;
    padding: 0;
}
